@import './reset.css';


body {
    background: #0e0d17;
    min-height: 100vh;

    display: flex;

    color: white;

    box-sizing: border-box;
    width: 100vw;
}

a{
    color: inherit;
    text-decoration: none;
}