.pageContainer{
    display: flex;
}

.heading{
    margin: 20px 0px;
}
.heading h1{
    text-align: left;
}

.inputContainer{

    background-color: #1c1a2e;
    border-radius: 10px;

    margin: 20px 0px;
}

.graphContainer{
    width: 500px;
    height: 500px;

    background-color: rgb(26, 26, 26);

    margin: 20px 0px;
}

.funcSummaryContainer{
    background-color: #1c1a2e;
    border-radius: 10px;

    margin: 20px 0px;
}