header{
    display: flex;
    justify-content: space-between;
}

.logo{
    display: flex;
    align-items: center;
    border: 2px solid gray;

}

.logo img{
    max-width: 40px;
}

.logo span{
    font-weight: bold;
    font-size: 1.5em;
}

